importlib_metadata==2.0.0
zipp==3.2.0
Django==3.1.1
brotli==1.0.9
cryptography==3.1.1
Cython==0.29.21
docutils==0.16
ipaddr==2.2.0
keyring==21.4.0
lockfile==0.12.2
lxml==4.5.2
mypy_extensions==0.4.3
numpy==1.19.2
ordereddict==1.1
protobuf==3.13.0
pyOpenSSL==19.1.0
typing_extensions==3.7.4.3
wincertstore==0.2
